/* @import-normalize; */
/* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --grey-color: #d9d9d9;
  --green-color: #8baa36;
  --body-color: #ececec;
  --subscribe-black-color: #1e1f28;
  --search-black-color: #22252a;
  --page-title-color: #001833;
  --background-color: #fafafa;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--search-black-color);
  position: relative;
}

.mobile-menu-open {
  overflow: hidden;
  -webkit-overflow-scrolling: touch; 
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}
