@import-normalize;
/* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --grey-color: #D9D9D9;
  --green-color: #8BAA36;
  --background-color: #ECECEC;
  --subcribe-black-color: #1E1F28;
  --search-black-color: #22252A;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}
