@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --grey-color: #d9d9d9;
  --green-color: #8baa36;
  --body-color: #ececec;
  --subscribe-black-color: #1e1f28;
  --search-black-color: #22252a;
  --page-title-color: #001833;
  --background-color: #fafafa;
  --edit-modal-text-color: #23262a;
  --white-color: #ffffff;
  --fiord-color: #3e4462;
  --persian-red-color: #d32f2f;
  --frost-color: #ebf3d4;
  --tuna-color: #37393e;
  --black-color: #000000;
  --saffron-color: #F6C23E;
  --cinnabar-color: #E74A3B;
  --ocean-green-color: #3CBC81;
  --charade-color: #2A2C36;
  --white-lila-color: #f6f7fb;
  --black-haze-color: #e8eaea;
  --alto-color: #e0e0e0;
  /* 

 */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--search-black-color);
  position: relative;
}

.mobile-menu-open {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}