.mainBgFooter {
  background-image: url('../../images/m-spinach-middle.png'),
    url('../../images/m-spinach-down.png');
  background-repeat: no-repeat;
  background-position: bottom 250px left, bottom -7px right -1px;
  background-size: auto, auto 210px;
}

.mainBgMobileMenu {
  background-image: url('../../images/m-spinach-menu.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 270px auto;
  background-size: 270px auto;
  height: 100vh;
}

.mainBgMain {
  background-image: url('../../images//m-dish.png'),
    url('../../images/m-spinach-up-left.png'),
    url('../../images/m-spinach-menu.png'),
    url('../../images/m-light-green-bg.png');
  background-repeat: no-repeat;
  background-position: top 322px right 4px, top 48px left, top right,
    top 150px right -229px;
}

.mainBgRecipe {
  background-image: url('../../images/m-vegetables.png'),
    url('../../images/m-spinach-middle.png'),
    url('../../images/m-spinach-down.png');
  background-repeat: no-repeat;
  background-position: top, bottom 250px left, bottom -7px right -1px;
  background-size: auto, auto, auto 210px;
}

@media screen and (min-width: 375px) {
  .mainBgRecipe {
    background-image: url('../../images/t-vegetables.png'),
      url('../../images/m-spinach-middle.png'),
      url('../../images/m-spinach-down.png');
    background-position: top -40px center, bottom 250px left,
      bottom -7px right -1px;
    background-size: auto, auto, auto 210px;
  }

  /* .mainBgMain {
    background-image: url('../../images/t-start-page.png');
    background-repeat: no-repeat;
    background-position: top;
  } */
}

@media screen and (min-width: 768px) {
  .mainBgFooter {
    background-image: url('../../images/t-spinach-middle.png'),
      url('../../images/t-spinach-down.png');
    background-position: bottom 137px left, bottom -2px right -1px;
    background-size: auto 812px, auto 300px;
  }

  .mainBgMobileMenu {
    background-image: url('../../images/t-spinach-menu.png');
    background-position: bottom -1px right -1px;
    background-size: auto;
  }

  .mainBgRecipe {
    background-image: url('../../images/d-vegetables.png'),
      url('../../images/t-spinach-middle.png'),
      url('../../images/t-spinach-down.png');
    background-position: top, bottom 137px left, bottom -2px right -1px;
    background-size: auto, auto 812px, auto 300px;
  }

  .mainBgMain {
    background-image: url('../../images/t-dish.png'),
      url('../../images/t-spinach-up-left.png'),
      url('../../images/t-spinach-up.png'),
      url('../../images/t-light-green-bg.png');
    background-position: top 159px right, top left, top right, top right;
  }
}

@media screen and (min-width: 1280px) {
  .mainBgFooter {
    background-image: url('../../images/d-spinach-middle.png'),
      url('../../images/d-spinach-down.png');
    background-position: bottom 137px left, bottom -6px right -9px;
    background-size: auto 911px, auto 371px;
  }

  .mainBgRecipe {
    background-image: url('../../images/d-vegetables.png'),
      url('../../images/d-spinach-middle.png'),
      url('../../images/d-spinach-down.png');
    background-position: top, bottom 137px left, bottom -6px right -9px;
    background-size: auto, auto 911px, auto 371px;
  }

  .mainBgMain {
    background-image: url('../../images/d-start-page.png');
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media screen and (min-width: 1440px) {
  .mainBgRecipe {
    background-image: url('../../images/extra-size-vegetables.png'),
      url('../../images/d-spinach-middle.png'),
      url('../../images/d-spinach-down.png');
    background-position: center top -257px, bottom 137px left,
      bottom -6px right -9px;
    background-size: 100% 750px, auto 911px, auto 371px;
    object-fit: cover;
    object-position: 20% 30px;
  }
}
